*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #ecf4fb;
    
}
.Gal{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 50px;
}
.Gal img{
    width: 250px;
    height: 200px;
    cursor: pointer;
}
.imgCont:hover img{
    transform: scale(1.2) ;
    border-radius: 20px;
}
.imgCont{
    position: relative;
    width: 250px;
    height: 200px;
    cursor: pointer;
}
.cov{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 240px;
    margin-top: -18px;
    margin-left: -22px;
    background-color: rgba(0, 0, 0, 0.4);  
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    border-radius: 20px;
}
.txt{
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    opacity: 0;
    font-size: 30px;
    font-weight: bold;
    transition: opacity 0.5s ease;  
    margin-top: -125px;  
}
.imgCont:hover .txt{
    opacity: 1;
}
.imgCont:hover .cov{
    opacity: 1;
}
.imgCont img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.full-img{
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 600px;
    height: 500px;
}
.full-img span{
     position: absolute;
     top:5%;
     right: 5%;
     font-size: 30px;
     color: #fff;
     cursor: pointer;
}
.arrow{
    position: absolute;
    top: 50%;    
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    left: 10px;
    margin-top: 300px;
    margin-left: 35px ;
}   
.right-arrow {
    right: 10px;
    margin-top: 300px;
}
#search{
    width: 80%;
    padding: 10px;
    background:  #ecf4fb;
    border: 2px solid black;
    border-radius: 8px;
}
#searchB{
    background-color: #0056b3;
    border-radius: 8px;
    width: 10%;
    cursor: pointer;
    font-weight: bold;
}
.searchCon{
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.A {
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}
.A {
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.A:hover {
    border-color: #333;
}
